# Modelación del Ebola en el Occidente Africano:

En este notebook está el código del trabajo "Modelos para la propagación del virus del Ebola" presentado por Sebastián Cañas,  Victor Gandica,  Geraldine Montoya,  Natalia Ortiz y Bayron Ortiz. El notebook contiene las bases de datos, paquetes de solución de EDO y  gráficas. El código en R utilizado para la solución del modelo SEIR está apoyado en el código de Althaus(2014).

In [444]:
import pandas as pd
import plotly.plotly as py
import plotly.graph_objs as go

In [445]:
df = pd.read_excel('/Users/jscs/Desktop/ebola.xlsx')
df

,Date,t (months),Total Cases,Total Deaths,Cases in Guinea,Cases in Liberia,Cases in Sierra Leone
0,2014-03-22,0,49,29,49,0,0
1,2014-04-14,1,194,121,197,27,0
2,2014-05-12,2,260,182,248,12,0
3,2014-06-16,3,528,337,398,33,97
4,2014-07-14,4,982,613,411,174,397
5,2014-08-13,5,2115,1144,519,786,810
6,2014-09-14,6,5335,2662,942,2710,1673
7,2014-10-14,7,9191,4546,1472,4249,3252
8,2014-11-11,8,14383,5165,1919,6878,5586
9,2014-12-14,9,18569,6900,2416,7797,8356
10,2015-01-11,10,21261,8414,2806,8331,10124
11,2015-02-15,11,23218,9365,3108,9007,11103
12,2015-03-15,12,24666,10179,3389,9526,11751
13,2015-04-12,13,25791,10689,3548,10042,12201
14,2015-05-10,14,26724,11065,3597,10604,12523
15,2015-06-14,15,27305,11169,3674,10666,12965
16,2015-07-12,16,27642,11261,3760,10673,13209
17,2015-08-16,17,27952,11284,3786,10672,13494
18,2015-09-13,18,28220,11291,3792,10672,13756
19,2015-10-11,19,28454,11297,3800,10672,13982
20,2015-11-15,20,28598,11299,3804,10672,14122
21,2015-12-13,21,28604,11300,3807,10675,14122
22,2016-01-17,22,28602,11301,3804,10675,14123
23,2016-02-14,23,28603,11301,3804,10675,14124
24,2016-03-13,24,28603,11301,3804,10675,14124

In [509]:
month = df['Date']
# Create and style traces
trace0 = go.Scatter(
    x = month,
    y = df['Total\nCases'],
    name = 'Casos Totales',
    line = dict(
        color = ('rgb(22, 96, 167)'),
        width = 4)
)
trace1 = go.Scatter(
    x = month,
    y = df['Total\nDeaths'],
    name = 'Muertes Totales',
    line = dict(
        color = ('rgb(205, 12, 24)'),
        width = 4,)
)
trace2 = go.Scatter(
    x = month,
    y = df['Cases in\nGuinea'],
    name = 'Casos en Guinea',
    line = dict(
        color = ('rgb(232, 135, 25)'),
        width = 4)
)
trace3 = go.Scatter(
    x = month,
    y = df['Cases in\nLiberia'],
    name = 'Casos en Liberia',
    line = dict(
        color = ('rgb(22, 167, 159)'),
        width = 4)
)
trace4 = go.Scatter(
    x = month,
    y = df['Cases in\nSierra Leone'],
    name = 'Casos en Sierra Leona',
    line = dict(
        color = ('rgb(156, 69, 173)'),
        width = 4)
)
data = [trace0, trace1, trace2, trace3, trace4]

# Edit the layout
layout = dict(title = 'Ebola en el Occidente Africano',
              xaxis = dict(title = 'Mes'),
              yaxis = dict(title = 'Población'),
              )
go.FigureWidget(data=data, layout=layout)

FigureWidget({
    'data': [{'line': {'color': 'rgb(22, 96, 167)', 'width': 4},
              'name': 'Casos T…

In [510]:
#Modelo exponencial
import math
infectados_exp = []
for month in range(0,24):
    infectados = 49*math.exp(0.7924*month)
    infectados_exp += [infectados]


month = df['Date']


# Create and style traces
trace0 = go.Scatter(
    x = month,
    y = df['Total\nCases'],
    name = 'Casos totales',
    line = dict(
        color = ('rgb(205, 12, 24)'),
        width = 4)
)
trace1 = go.Scatter(
    x = month,
    y = infectados_exp,
    name = 'Modelo Exponencial',
    line = dict(
        color = ('rgb(22, 96, 167)'),
        width = 4,)
)
data = [trace0, trace1]

# Edit the layout
layout = dict(title = 'Ebola en el Occidente Africano',
              xaxis = dict(title = 'Mes'),
              yaxis = dict(title = 'Población'),
              )
go.FigureWidget(data=data, layout=layout)

FigureWidget({
    'data': [{'line': {'color': 'rgb(205, 12, 24)', 'width': 4},
              'name': 'Casos t…

In [511]:
#Modelo logistico
infectados_log = []
for month in range(0,24):
    infectados = 28603/(582.7289*math.exp(-0.556162*month) +1)
    infectados_log += [infectados]

month = df['Date']


# Create and style traces
trace0 = go.Scatter(
    x = month,
    y = df['Total\nCases'],
    name = 'Casos Totales',
    line = dict(
        color = ('rgb(205, 12, 24)'),
        width = 4)
)
trace1 = go.Scatter(
    x = month,
    y = infectados_log,
    name = 'Modelo Logístico',
    line = dict(
        color = ('rgb(22, 96, 167)'),
        width = 4,)
)
data = [trace0, trace1]

# Edit the layout
layout = dict(title = 'Ebola en el Occidente Africano',
              xaxis = dict(title = 'Mes'),
              yaxis = dict(title = 'Población'),
              )
go.FigureWidget(data=data, layout=layout)

FigureWidget({
    'data': [{'line': {'color': 'rgb(205, 12, 24)', 'width': 4},
              'name': 'Casos T…

In [512]:
month = df['Date']

# Create and style traces
trace0 = go.Scatter(
    x = month,
    y = df['Total\nCases'],
    name = 'Casos Totales',
    line = dict(
        color = ('rgb(205, 12, 24)'),
        width = 4)
)
trace1 = go.Scatter(
    x = month,
    y = infectados_log,
    name = 'Modelo Logístico',
    line = dict(
        color = ('rgb(22, 96, 167)'),
        width = 4,)
)
trace2 = go.Scatter(
    x = month,
    y = infectados_exp,
    name = 'Modelo Exponencial',
    line = dict(
        color = ('rgb(27, 171, 22)'),
        width = 4,)
)
data = [trace0, trace1,trace2]

# Edit the layout
layout = dict(title = 'Ebola en el Occidente Africano',
              xaxis = dict(title = 'Mes'),
              yaxis = dict(title = 'Población'),
              )
go.FigureWidget(data=data, layout=layout)

FigureWidget({
    'data': [{'line': {'color': 'rgb(205, 12, 24)', 'width': 4},
              'name': 'Casos T…

In [451]:
"""
df_althaus2 = df_althaus[['Date', 'Total_Cases']]
df_althaus2 = df_althaus2.dropna()
"""

"\ndf_althaus2 = df_althaus[['Date', 'Total_Cases']]\ndf_althaus2 = df_althaus2.dropna()\n"

## Modelo SEIR:

In [505]:
df_althaus = pd.read_csv('/Users/jscs/Ebola/West Africa (PLOS Curr 2014)/Ebola_outbreak_West_Africa_data.csv')
df_althaus = df_althaus.fillna(0)
df_althaus

,Date,Total_Cases,Total_Death,Guinea_Cases,Guinea_Death,SierraLeone_Cases,SierraLeone_Death,Liberia_Cases,Liberia_Death,Nigeria_Cases,Nigeria_Death,Comment
0,22 Mar 2014,49.0,29.0,49.0,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,24 Mar 2014,86.0,59.0,86.0,59.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,25 Mar 2014,86.0,60.0,86.0,60.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,26 Mar 2014,86.0,62.0,86.0,62.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,27 Mar 2014,103.0,66.0,103.0,66.0,0.0,0.0,0.0,0.0,0.0,0.0,0
5,28 Mar 2014,112.0,70.0,112.0,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0
6,31 Mar 2014,122.0,80.0,122.0,80.0,0.0,0.0,0.0,0.0,0.0,0.0,0
7,01 Apr 2014,127.0,83.0,127.0,83.0,0.0,0.0,0.0,0.0,0.0,0.0,0
8,04 Apr 2014,143.0,86.0,143.0,86.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9,07 Apr 2014,151.0,95.0,151.0,95.0,0.0,0.0,0.0,0.0,0.0,0.0,0
10,09 Apr 2014,158.0,101.0,158.0,101.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11,11 Apr 2014,159.0,106.0,159.0,106.0,0.0,0.0,0.0,0.0,0.0,0.0,0
12,14 Apr 2014,168.0,108.0,168.0,108.0,0.0,0.0,0.0,0.0,0.0,0.0,0
13,16 Apr 2014,197.0,122.0,197.0,122.0,0.0,0.0,0.0,0.0,0.0,0.0,0
14,17 Apr 2014,203.0,129.0,203.0,129.0,0.0,0.0,0.0,0.0,0.0,0.0,0
15,20 Apr 2014,208.0,136.0,208.0,136.0,0.0,0.0,0.0,0.0,0.0,0.0,0
16,23 Apr 2014,218.0,141.0,218.0,141.0,0.0,0.0,0.0,0.0,0.0,0.0,0
17,01 May 2014,226.0,149.0,226.0,149.0,0.0,0.0,0.0,0.0,0.0,0.0,0
18,03 May 2014,231.0,155.0,231.0,155.0,0.0,0.0,0.0,0.0,0.0,0.0,0
19,05 May 2014,235.0,157.0,235.0,157.0,0.0,0.0,0.0,0.0,0.0,0.0,0
20,07 May 2014,236.0,158.0,236.0,158.0,0.0,0.0,0.0,0.0,0.0,0.0,0
21,10 May 2014,233.0,157.0,233.0,157.0,0.0,0.0,0.0,0.0,0.0,0.0,0
22,12 May 2014,248.0,171.0,248.0,171.0,0.0,0.0,0.0,0.0,0.0,0.0,0
23,18 May 2014,253.0,176.0,253.0,176.0,0.0,0.0,0.0,0.0,0.0,0.0,0
24,23 May 2014,258.0,174.0,258.0,174.0,0.0,0.0,0.0,0.0,0.0,0.0,0
25,27 May 2014,297.0,191.0,281.0,186.0,16.0,5.0,0.0,0.0,0.0,0.0,First confirmed cases in Sierra Leone
26,28 May 2014,0.0,0.0,291.0,193.0,0.0,0.0,0.0,0.0,0.0,0.0,0
27,29 May 2014,0.0,0.0,0.0,0.0,50.0,6.0,0.0,0.0,0.0,0.0,0
28,01 Jun 2014,407.0,214.0,328.0,208.0,79.0,6.0,0.0,0.0,0.0,0.0,0
29,03 Jun 2014,0.0,0.0,344.0,215.0,0.0,0.0,0.0,0.0,0.0,0.0,0
30,05 Jun 2014,0.0,0.0,351.0,226.0,81.0,6.0,0.0,0.0,0.0,0.0,0
31,06 Jun 2014,0.0,0.0,0.0,0.0,89.0,7.0,0.0,0.0,0.0,0.0,0
32,15 Jun 2014,489.0,309.0,394.0,263.0,95.0,46.0,0.0,0.0,0.0,0.0,0
33,16 Jun 2014,0.0,0.0,398.0,264.0,0.0,0.0,33.0,24.0,0.0,0.0,First new cases in Liberia since 6 April
34,17 Jun 2014,0.0,0.0,0.0,0.0,97.0,49.0,0.0,0.0,0.0,0.0,0
35,20 Jun 2014,0.0,0.0,390.0,270.0,158.0,34.0,0.0,0.0,0.0,0.0,0
36,22 Jun 2014,0.0,0.0,0.0,0.0,0.0,0.0,51.0,34.0,0.0,0.0,0
37,30 Jun 2014,759.0,467.0,413.0,303.0,239.0,99.0,107.0,65.0,0.0,0.0,0
38,02 Jul 2014,779.0,481.0,412.0,305.0,252.0,101.0,115.0,75.0,0.0,0.0,0
39,06 Jul 2014,844.0,518.0,408.0,307.0,305.0,127.0,131.0,84.0,0.0,0.0,0
40,08 Jul 2014,888.0,539.0,409.0,309.0,337.0,142.0,142.0,88.0,0.0,0.0,0
41,12 Jul 2014,964.0,603.0,406.0,304.0,386.0,194.0,172.0,105.0,0.0,0.0,0
42,14 Jul 2014,982.0,613.0,411.0,310.0,397.0,197.0,174.0,106.0,0.0,0.0,0
43,17 Jul 2014,1048.0,632.0,410.0,310.0,442.0,206.0,196.0,116.0,0.0,0.0,0
44,20 Jul 2014,1094.0,660.0,415.0,314.0,454.0,219.0,224.0,127.0,1.0,0.0,Arrival of index patient in Nigeria
45,23 Jul 2014,1201.0,672.0,427.0,319.0,525.0,224.0,249.0,129.0,0.0,0.0,0
46,27 Jul 2014,1323.0,729.0,460.0,339.0,533.0,233.0,329.0,156.0,1.0,1.0,0
47,30 Jul 2014,1440.0,826.0,472.0,346.0,574.0,252.0,391.0,227.0,3.0,1.0,0
48,01 Aug 2014,1603.0,887.0,485.0,358.0,646.0,273.0,468.0,255.0,4.0,1.0,0
49,04 Aug 2014,1711.0,932.0,495.0,363.0,691.0,286.0,516.0,282.0,9.0,1.0,0
50,06 Aug 2014,1779.0,961.0,495.0,367.0,717.0,298.0,554.0,294.0,13.0,2.0,0
51,09 Aug 2014,1848.0,1013.0,506.0,373.0,730.0,315.0,599.0,323.0,13.0,2.0,0
52,11 Aug 2014,1975.0,1069.0,510.0,377.0,783.0,334.0,670.0,355.0,12.0,3.0,0
53,13 Aug 2014,2127.0,1145.0,519.0,380.0,810.0,348.0,786.0,413.0,12.0,4.0,0
54,15 Aug 2014,0.0,0.0,0.0,0.0,0.0,0.0,834.0,466.0,0.0,0.0,0
55,16 Aug 2014,0.0,0.0,543.0,394.0,848.0,365.0,0.0,0.0,15.0,4.0,0
56,18 Aug 2014,2473.0,1350.0,579.0,396.0,907.0,374.0,972.0,576.0,15.0,4.0,0
57,20 Aug 2014,2615.0,1427.0,607.0,406.0,910.0,392.0,1082.0,624.0,16.0,5.0,0

In [519]:
df_althaus2 = df_althaus[['Date', 'Total_Cases']]
df_althaus2 = df_althaus2.dropna()

# Create and style traces
trace0 = go.Scatter(
    x = df['Date'],
    y = df['Total\nCases'],
    name = 'Casos Totales',
    line = dict(
        color = ('rgb(205, 12, 24)'),
        width = 4)
)
trace1 = go.Scatter(
    x = df['Date'],
    y = infectados_log,
    name = 'Modelo Logístico',
    line = dict(
        color = ('rgb(22, 96, 167)'),
        width = 4,)
)
trace2 = go.Scatter(
    x = df_althaus['Date'],
    y = df_althaus['Total_Cases'],
    name = 'Datos iniciales',
    line = dict(
        color = ('rgb(27, 171, 22)'),
        width = 4,)
)
data = [trace0, trace1,trace2]

# Edit the layout
layout = dict(title = 'Ebola en el Occidente Africano',
              xaxis = dict(title = 'Mes'),
              yaxis = dict(title = 'Población'),
              )
go.FigureWidget(data=data, layout=layout)

FigureWidget({
    'data': [{'line': {'color': 'rgb(205, 12, 24)', 'width': 4},
              'name': 'Casos T…

In [453]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [454]:
%%R 

library(deSolve)
library(chron)
library(bbmle)

ebola <- read.csv('/Users/jscs/Ebola/West Africa (PLOS Curr 2014)/Ebola_outbreak_West_Africa_data.csv')
ebola$Date <- chron(as.character(ebola$Date),format=c(dates = "day mon year"))


# Definition of the SEIR model
SEIR <- function(t, x, parms) {
	with(as.list(c(parms,x)),{
		if(t < tau1) beta <- beta0
		else beta <- beta0*exp(-k*(t-tau1))
		N <- S + E + I + R
		dS <- - beta*S*I/N
		dE <- beta*S*I/N - sigma*E
		dI <- sigma*E - gamma*I
		dR <- (1-f)*gamma*I
		dD <- f*gamma*I
		dC <- sigma*E
		der <- c(dS,dE,dI,dR,dD,dC)
		list(der)
	})
}
# Negative log-likelihood
nll <- function(beta0,k,f,tau0,tau1,sigma,gamma) {
	pars <- c(beta0=beta0,k=k,f=f,tau0=tau0,tau1=tau1,sigma=sigma,gamma=gamma)
	pars <- trans(pars)
	times <- c(0,data$times+pars["tau0"])
	simulation <- as.data.frame(ode(init,times,SEIR,parms=pars))
	simulation <- simulation[-1,]
	ll <- sum(dpois(data$cases,simulation$C,log=TRUE)) + sum(dpois(data$deaths,simulation$D,log=TRUE))
	return(-ll)
}

# Parameter transformation
trans <- function(pars) {
	pars["beta0"] <- exp(pars["beta0"])
	pars["k"] <- exp(pars["k"])
	pars["f"] <- plogis(pars["f"])
	pars["tau0"] <- exp(pars["tau0"])
	pars["tau1"] <- exp(pars["tau1"])
	return(pars)
}

In [455]:
%%R

# Total cases
data <- na.omit(ebola[c("Date","Total_Cases","Total_Death")])
names(data) <- c("times","cases","deaths")
begin <- chron("2 Dec 2013", format=c(dates = "day mon year")) 
delay <- as.numeric(data$times[1] - begin)
data$times <- data$times - data$times[1]
N <- 3e6		
init <- c(S = N - 1, E = 0, I = 1, R = 0, D = 0, C = 1)
fixed <- c(tau0 = log(delay), tau1 = -Inf, sigma = 1/5.3, gamma = 1/5.61)
free <- c(beta0 = log(0.2), k = log(0.001), f = 0)
fit <- mle2(nll,start=as.list(free),fixed=as.list(fixed),method="Nelder-Mead",control=list(maxit=1e3))
trans(coef(fit))

       beta0            k            f         tau0         tau1        sigma
2.402288e-01 4.681144e-04 6.507735e-01 1.100000e+02 0.000000e+00 1.886792e-01
       gamma
1.782531e-01

In [456]:
%%R

# GUINEA: Prepare the data, set the initial values and fit the model
data <- na.omit(ebola[c("Date","Guinea_Cases","Guinea_Death")])
names(data) <- c("times","cases","deaths")
begin <- chron("2 Dec 2013", format=c(dates = "day mon year")) 
delay <- as.numeric(data$times[1] - begin)
data$times <- data$times - data$times[1]
N <- 1e6		
init <- c(S = N - 1, E = 0, I = 1, R = 0, D = 0, C = 1)
fixed <- c(tau0 = log(delay), tau1 = -Inf, sigma = 1/5.3, gamma = 1/5.61)
free <- c(beta0 = log(0.2), k = log(0.001), f = 0)
fit <- mle2(nll,start=as.list(free),fixed=as.list(fixed),method="Nelder-Mead",control=list(maxit=1e3))
trans(coef(fit))

       beta0            k            f         tau0         tau1        sigma
2.685740e-01 2.337907e-03 7.368011e-01 1.100000e+02 0.000000e+00 1.886792e-01
       gamma
1.782531e-01

In [496]:
def plot_seir(s,e,i,r,times,name):
    
    month = df['Date']

    # Create and style traces
    trace0 = go.Scatter(
        x = times,
        y = s,
        name = 'Suceptible',
        line = dict(
            color = ('rgb(27, 171, 22)'),
            width = 4)
    )
    trace1 = go.Scatter(
        x = times,
        y = e,
        name = 'Expoused',
        line = dict(
            color = ('rgb(255, 150, 38)'),
            width = 4,)
    )
    trace2 = go.Scatter(
        x = times,
        y = i,
        name = 'Infected',
        line = dict(
            color = ('rgb(205, 12, 24)'),
            width = 4,)
    )
    trace3 = go.Scatter(
        x = times,
        y = r,
        name = 'Recupered',
        line = dict(
            color = ('rgb(22, 96, 167)'),
            width = 4,)
    )
    data = [trace0, trace1,trace2,trace3]

    # Edit the layout
    layout = dict(title = name,
                  xaxis = dict(title = 'Tiempo en días'),
                  yaxis = dict(title = 'Población'),
                  )
    return go.FigureWidget(data=data, layout=layout)

from scipy.integrate import odeint

# The SEIR model differential equations.
def SEIR_model(y, t, N, beta, sigma, gamma):
    S, E, I, R = y
    dS_dt = -beta*S*I*(1/N)
    dE_dt = beta*S*I*(1/N) - sigma*E
    dI_dt = sigma*E - gamma*I
    dR_dt = (1-f)*gamma*I
    #

    return dS_dt, dE_dt, dI_dt, dR_dt

In [497]:
# Total population, N.
N = 1e6

S0 = N - 1
E0 = 0
I0 = 1
R0 = 0

#Condiciones iniciales
y0 = S0, E0, I0, R0

beta = 2.685740e-1
sigma = 1.886792e-1
gamma = 1.782531e-1 
f = 7.368011e-1
k = 2.337907e-3

In [498]:
days = month[24] - month[0] 
days

Timedelta('722 days 00:00:00')

In [513]:
# A grid of time points (in days)
t = np.linspace(0, 720,720)
# Integrate the SIR equations over the time grid, t.
ret = odeint(SEIR_model, y0, t, args=(N, beta, sigma, gamma))
S, E, I, R = ret.T
s = ret[:, 0]
e = ret[:, 1]
i = ret[:, 2]
r = ret[:, 3]

plot_seir(s,e,i,r,t, name='Modelo SEIR para Ebola en Guinea')

FigureWidget({
    'data': [{'line': {'color': 'rgb(27, 171, 22)', 'width': 4},
              'name': 'Sucepti…

Análisis de lo anterior

In [500]:
k = 4.672992e-4
math.log(2,math.exp(1))/k

1483.304873109017

In [501]:
%%R
# SIERRA LEONE: Prepare the data, set the initial values and fit the model
data <- na.omit(ebola[c("Date","SierraLeone_Cases","SierraLeone_Death")])
names(data) <- c("times","cases","deaths")
begin <- min(data$times) 
data$times <- data$times - data$times[1]
N <- 1e6		
init <- c(S = N - 1, E = 0, I = 1, R = 0, D = 0, C = 1)
fixed <- c(tau1 = -Inf, sigma = 1/5.3, gamma = 1/5.61)
free <- c(beta0 = log(0.2), k = log(0.001), f = 0, tau0 = log(60))
fit <- mle2(nll,start=as.list(free),fixed=as.list(fixed),method="Nelder-Mead",control=list(maxit=1e3))
trans(coef(fit))

      beta0           k           f        tau0        tau1       sigma
 0.45178635  0.00973967  0.48356534 33.99554465  0.00000000  0.18867925
      gamma
 0.17825312

In [514]:
# Total population, N.
N = 1e6

S0 = N - 1
E0 = 0
I0 = 1
R0 = 0

#Condiciones iniciales
y0 = S0, E0, I0, R0

beta = 0.45178635 
sigma = 1.886792e-1
gamma = 1.782531e-1 
f = 0.48356534
k = 0.00973967

# A grid of time points (in days)
t = np.linspace(0, 720,720)
# Integrate the SIR equations over the time grid, t.
ret = odeint(SEIR_model, y0, t, args=(N, beta, sigma, gamma))
S, E, I, R = ret.T
s = ret[:, 0]
e = ret[:, 1]
i = ret[:, 2]
r = ret[:, 3]

plot_seir(s,e,i,r,t, name='Modelo SEIR para Ebola en Sierra Leona')

FigureWidget({
    'data': [{'line': {'color': 'rgb(27, 171, 22)', 'width': 4},
              'name': 'Sucepti…

In [503]:
%%R
# LIBERIA: Prepare the data, set the initial values and fit the model
data <- na.omit(ebola[c("Date","Liberia_Cases","Liberia_Death")])
names(data) <- c("times","cases","deaths")
begin <- min(data$times) 
data$times <- data$times - data$times[1]
N <- 1e6		
init <- c(S = N - 1, E = 0, I = 1, R = 0, D = 0, C = 1)
fixed <- c(tau1 = -Inf, sigma = 1/5.3, gamma = 1/5.61, k = -Inf)
free <- c(beta0 = log(0.2), f = 0, tau0 = log(60))
fit <- mle2(nll,start=as.list(free),fixed=as.list(fixed),method="Nelder-Mead",control=list(maxit=2e3))
trans(coef(fit))

     beta0          k          f       tau0       tau1      sigma      gamma
 0.2826744  0.0000000  0.7096659 62.9881348  0.0000000  0.1886792  0.1782531

In [515]:
# Total population, N.
N = 1e6

S0 = N - 1
E0 = 0
I0 = 1
R0 = 0

#Condiciones iniciales
y0 = S0, E0, I0, R0

beta = 0.2826744 
sigma = 1.886792e-1
gamma = 1.782531e-1 
f = 0.7096659
k = 0

# A grid of time points (in days)
t = np.linspace(0, 720,720)
# Integrate the SIR equations over the time grid, t.
ret = odeint(SEIR_model, y0, t, args=(N, beta, sigma, gamma))
S, E, I, R = ret.T
s = ret[:, 0]
e = ret[:, 1]
i = ret[:, 2]
r = ret[:, 3]

plot_seir(s,e,i,r,t, name='Modelo SEIR para Ebola en Liberia')

FigureWidget({
    'data': [{'line': {'color': 'rgb(27, 171, 22)', 'width': 4},
              'name': 'Sucepti…

### Referencias:

- Althaus CL. Estimating the Reproduction Number of Ebola Virus (EBOV) During the 2014 Outbreak in West Africa. PLOS Currents Outbreaks. 2014 Sep 2 . Edition 1. doi: 10.1371/currents.outbreaks.91afb5e0f279e7f29e7056095255b288. 
- H. W. Hethcote, The mathematics of infectious diseases. SIAM Review 42, 599–653 (2000).
- M. J. Keeling and P. Rohani, Modeling Infectious Diseases in Humans and Animals. Princeton University Press, Princeton, (2007).
- Pauline van den Driessche, Reproduction numbers of infectious disease models. Infectious Disease Modelling 2 (2017) 288-303